
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>@ViewBag.Title</li>
        </div>
    </div>
</div>

<div class="container pt pb">
    <h3>You have been logged out.</h3>
</div>


